@import "./Common.scss";
@import "@codedrops/react-ui/dist/styles/colors.scss";

html body .spinner {
  position: absolute;
  right: 20px;
  bottom: 16px;
  top: unset;
  left: unset;
  z-index: 10000;
}

pre,
pre code,
code {
  font-size: 1rem;
  color: $bar;
}

code {
  background: $orchid;
  padding: 2px;
  border-radius: 2px;
  color: $white;
  padding: 3px 2px 1px;
}

pre {
  border: 1px solid $strokeOne;
  background: $feather;
  border-radius: 4px;
  padding: 12px;
  line-height: 1.4rem;
  & > code {
    cursor: pointer;
    background: none;
  }
}

.mb {
  margin-bottom: 6px;
}

body {
  font-family: PatrickHand;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: RobotoMonoSemiBold;
  }
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url("./assets/backgrounds/grey.png");
  .container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    .content {
      flex: 1 1 auto;
      overflow: auto;
      section {
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
      }
      section#signin,
      section#signup {
        height: auto;
      }
    }
    .showingCount {
      padding: 4px 6px;
      margin: 2px;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }
  .ant-modal-body {
    padding: 0;
    height: 80vh;
    overflow: hidden;
  }
  // .CodeMirror.CodeMirror-wrap {
  //   height: 220px;
  // }
}

.viewed {
  .card {
    background: #d6e2c7;
  }
}

.state {
  color: $white;
  text-transform: uppercase;
  font-size: 0.9rem;
  background: $orange;
  padding: 0px 4px;
  border-radius: 2px;
  margin: 0 2px;
  display: inline-block;
  width: max-content;
}

.icon,
.ant-icon {
  padding: 5px;
  border-radius: 30px;
  transition: 0.4s;
  &:hover {
    background: $strokeOne;
  }
}

.ant-icon {
  cursor: pointer;
  background: $bg;
}

.settings-content {
  .setting-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    h6 {
      margin-bottom: 4px;
    }
  }
  .add-tag {
    margin: 12px 0;
    padding: 12px;
    background: $feather;
    .add-tag-form {
      display: grid;
      grid-column-gap: 8px;
      grid-auto-flow: column;
      margin-bottom: 4px;
    }
  }
}
