@import "./Common.scss";

.preview,
.preview-body,
pre,
pre code,
code {
  font-size: 1.1rem !important;
}

body {
  font-family: PatrickHand;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url("./assets/backgrounds/grey.png");
  .container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    .content {
      flex: 1 1 auto;
      overflow: auto;
    }
    .showingCount {
      padding: 4px 6px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.4);
      margin: 2px;
      color: #fff;
    }

    pre {
      border: 1px solid lightgrey;
      border-radius: 4px;
      padding: 4px 8px;
      line-height: 1.4rem;
    }
  }
  .ant-modal-body {
    padding: 0;
    height: 80vh;
    overflow: hidden;
  }
  .CodeMirror {
    height: 250px !important;
  }
}
