@import "@codedrops/react-ui/dist/styles/colors.scss";

html body #react-ui {
  .spinner {
    position: absolute;
    right: 20px;
    bottom: 16px;
    top: unset;
    left: unset;
    z-index: 10000;
  }
  .divider {
    background: $strokeOne;
  }
}

.form-field {
  width: 90px;
  margin: 2px;
}

.block {
  display: block;
}

pre,
pre code,
code {
  font-size: 1.1rem;
  color: $bar;
}

.table-row {
  // table view - row
  cursor: pointer;
}

code {
  background: $strokeTwo;
  color: $primary;
  padding: 1px 2px;
  border-radius: 2px;
  font-family: Cascadia-Regular;
}

pre {
  border: 1px solid $strokeOne;
  background: $feather;
  border-radius: 4px;
  padding: 12px;
  line-height: 1.5rem;
  cursor: pointer;
  & > code {
    background: none;
    font-family: Cascadia-Regular;
  }
}

h3 code {
  font-size: inherit;
  font-family: inherit;
  color: $white;
  background: $coffee;
}

.index-wrapper {
  position: absolute;
  top: 8px;
  right: 16px;
  .index {
    color: $strokeTwo;
    font-size: 1rem;
  }
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: Cascadia-SemiBold;
  }
  .tag,
  .ant-tag {
    padding: 0px 4px;
    font-size: 0.8rem;
    border-radius: 2px;
  }
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url("./assets/backgrounds/grey.png");
  .container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    .contentWrapper {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
    .content {
      flex: 1 1 auto;
      overflow: hidden;
      section {
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
      }
      section#login,
      section#register {
        height: auto;
      }
    }
    .showing-count {
      background: $bg;
      display: inline-flex;
      align-items: center;
      padding: 0 8px;
      height: 30px;
      border-radius: 4px;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  .ant-modal-body {
    padding: 0;
    height: 80vh;
    overflow: hidden;
  }
  .caption-drawer {
    overflow: auto;
    .social-platform-caption-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .social-caption-item-wrapper {
        .ant-input {
          height: 100%;
        }
        .ant-card {
          height: 100%;
          margin: 0;
          p {
            white-space: break-spaces;
          }
          &:hover {
            background: $feather;
            cursor: pointer;
          }
        }
      }
    }
  }
  .images-modal .ant-modal-body {
    padding: 24px;
    overflow: auto;
    // .image-wrapper {
    //   display: flex;
    //   height: 300px;
    //   align-items: center;
    //   justify-content: center;
    //   width: 50%;
    //   img {
    //     max-width: 100%;
    //   }
    // }
  }
  .edit-json-modal .ant-modal-body {
    padding: 24px;
    height: auto;
  }
}

// tags checkgroup in add modal
.ant-checkbox-group {
  .ant-checkbox-wrapper {
    margin-bottom: 4px;
  }
}

.viewed {
  .card {
    background: #d6e2c7;
  }
}

.settings-content {
  .setting-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    h6 {
      margin-bottom: 4px;
    }
  }
  .add-tag {
    margin: 12px 0;
    padding: 12px;
    background: $feather;
    .add-tag-form {
      display: grid;
      grid-column-gap: 8px;
      grid-auto-flow: column;
      margin-bottom: 4px;
      .color-input {
        border-color: $bg;
        padding: 0;
      }
    }
  }
}
