.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.space-around {
  justify-content: space-around;
}

.flex.center {
  justify-content: center;
}

.flex.align-center {
  align-items: center;
}

section {
  padding: 0 10px 40px;
}
.input-width {
  width: 120px;
  margin: 2px;
}

.radio-box {
  display: block;
}

.ml {
  margin-left: 10px;
}

.divider {
  height: 1px;
  background: #e8e8e8;
  margin: 8px auto;
}

.relative {
  position: relative;
}
