@font-face {
  src: url("./assets/fonts/PatrickHand-Regular.ttf");
  font-family: PatrickHand;
}

/* Checkboxes font size */
.ant-checkbox-group-item {
  font-size: 0.8rem;
}

input,
textarea,
.ant-input,
.ant-radio-group,
.simplemde-editor-1-wrapper {
  margin: 2px !important;
  width: 100%;
}

* {
  font-family: PatrickHand;
}

html {
  font-size: 10px;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(29, 29, 29);
}
