@font-face{
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}
*{
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('./assets/backgrounds/funky-lines.png');
}

code {
  font-family:monospace;
}

input, textarea, .ant-input, .ant-radio-group, .simplemde-editor-1-wrapper{
  margin: 2px !important;
  font-family: 'Roboto', sans-serif;
}

.ant-modal-body{
  padding: 0;
}
.CodeMirror{
  height: 250px !important;
}