@import "@codedrops/react-ui/dist/styles/defaults.scss";

@font-face {
  font-family: Cascadia-Regular;
  src: url("./assets/fonts/Cascadia/CascadiaMono-Regular.woff2");
}

@font-face {
  font-family: Cascadia-SemiBold;
  src: url("./assets/fonts/Cascadia/CascadiaMonoPL-SemiBold.woff2");
}

@font-face {
  font-family: Cascadia-Bold;
  src: url("./assets/fonts/Cascadia/CascadiaMonoPL-Bold.woff2");
}

.bold {
  font-family: Cascadia-Bold;
}

* {
  font-family: Cascadia-Regular;
}

html,
body,
html body,
[class*="ant"] {
  font-size: 12px;
}

strong {
  font-family: Cascadia-Regular;
}

.ant-modal-title,
.ant-drawer-title,
#simplemde-editor-1-wrapper,
.ant-input,
.ant-btn,
.ant-select-dropdown-menu-item,
.ant-checkbox-wrapper {
  font-size: 12px !important;
}

.anticon {
  font-size: 14px;
}

.ant-modal-title,
.ant-drawer-title {
  position: relative;
  top: 2px; // modal title
}
